@import "tailwindcss";
@plugin "daisyui";

/* MeridianLMS Custom Theme */
@config "../../../config/tailwind.config.js";

/* Custom Fonts */
@font-face {
  font-family: 'Expensify New Kansas';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro Variable';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro DemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}